#submit-btn, 
#next-btn {
    background-color: #8b5cf6;
    border: none;
    width: 100px;
    font-weight: 500;
}

#submit-btn, 
#next-btn:hover {
    background-color: #5714f2;

}


.list-group-item {
    background-color: #f1f1f1;
    border: none;
}